body {
    background-color: #f4fff3;
    margin: 0;
    color: white;
}

.header {
    position: relative;
    height: 70px;
    /*border: 1px solid navajowhite;*/
    /*background-color: oldlace;*/
    background: url("./performance.jpg") no-repeat;
    background-size: cove
    r;
    background-color: darkblue;
    z-index: -1;
}

header:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: 0.6;
    z-index: 1;
}


header a {
    z-index: 10
}

@media all {
    
}


@media print {
    body{
        background-color: navajowhite;
    }
}

@media screen {
    
}

@media (min-width: 768px) and (max-width: 1024px) {
    main > div div {
        display: table-header-group ;
        margin: 20px;
    }

}